*{
    margin: 0;
    padding: 0;
}
body{
    width: 800px;
    margin: 50px auto;
    font-size: 18px;
}
#table-1 td{
    text-align: center;
    padding: 5px;
}
table#table-2 td {
    padding: 5px 15px;
    text-align: center;
}

/* Layout Table Styles  */

table.layout td {
    padding: 10px;
}
table.layout td img{
    width:100%;
    height:auto;
}
/* Form 1 Styles  */

.text-red{
    color: red;
    text-align: center;
}
.input-group {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group input {
    margin-left: 10px;
    padding: 3px;
}
.input-group button {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    background: #4242e1;
    color: #fff;
    font-size: 20px;
}
/* Form 2 Styles  */
form#your-details,form#form-1 {
    max-width: 500px;
    margin: 0 auto;
}

form#your-details .input-control {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 5px;
}

form#your-details .input-control input, form#your-details .input-control textarea{
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    width: 200px;
}
.submit button {
    background: #333;
    color: #fff;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}